*{
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}
body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
color: aliceblue;


}
span{
    color: aquamarine;
}
.nav{
 position: absolute;
 top: 0;
 right: 0;


}
.nav ul{
    list-style: none;
    display: flex;
    font-size: 20px;
}
.nav a{
    padding: 15px;
    text-decoration: none;
    color:aliceblue;
    }
.container1{
    display: inline-block;

    
}
.content1{
    display: none;


}
.content1 a{
    display: block;
}
.container1:hover .content1{

display: block;

}
.content1{
    display: none;


}
.container2{
    display: inline-block;
}
.content2{
    display: none;
}
.content2 a{
    display: block;
}
.container2:hover .content2{

display: block;

}
.content4{
    display: none;
}
.content4 a{
    display: block;
}
.container4:hover .content4{

display: block;

}
.content3{
    display: none;
}
.content3 a{
    display: block;
}
.container3:hover .content3{

display: block;

}
.nav a:hover{

    background-color: rgb(174, 235, 253);
    color: black;
}
